* {
	transition: all .5s;
	box-sizing: border-box;
}

body {
	background: url(http://ilyakhasanov.ru/images/background/23.png);
	color: #333;
	font: 1em 'K2D', Arial;
}

[class*="span"] {
	margin-right: 20px;
	float: left;
	margin-bottom: 20px;
}

[class*="span"]:last-child {
	margin-right: 0;
	float: right;
}

h1 {
	display: block;
	position: relative;
	margin-left: 50px;
}

h1::before {
	content: '';
	display: block;
	position: absolute;
	width: 50px;
	height: 50px;
	top: -5px;
	left: -50px;
	background: url(icon.png);
	
}

h2 {
	border-bottom: 1px solid #888;
	padding-bottom: 5px;

}

.search input {
	margin-top: 30px;
	height: 25px;
	width: 220px;
}

.slider {
	background: url(slider.jpg);
	width: 940px;
	height: 200px;
	box-shadow: 0 3px 8px #888;
	border-radius: 3px; 
}

.thumb {
	box-shadow: 0 3px 8px #888;
	width: 140px;
	height: 100px;
	border-radius: 3px; 
}

.sidebar li a {
	line-height: 40px;
	background: #C1C1C1;
	text-decoration: none;
	color: #eee;
	width: 140px;
	height: 40px;
	display: block;
	border-bottom: 1px solid #eee;
	text-align: center;
	border-radius: 3px; 
	
}

.sidebar ul {
	list-style-type: none;
	padding: 0;
	box-shadow: 0 3px 8px #888;
}

.sidebar li:last-child a {
	border-bottom: none;
}

.sidebar li a:hover {
	background: #888;
	transform: scale(1.1);
}

.content {
	padding: 0 20px;
	margin-bottom: 80px;
}


.columns {
	columns: 300px auto;
	padding: 30px;
	column-rule: 1px solid #888;
	background: rgba(193,193,193, .5);
	column-gap: 50px;
	border-radius: 5px;
}

.container {
	width: 940px;
	margin: 0 auto;
}

.row {
	margin-bottom: 20px;
}

.footer {
	border-top: 1px solid #888;
	height: 60px;
	line-height: 60px;
	color: #888;
	text-align: center;
}




.span1 { width: 60px; }
.span2 { width: 140px; }
.span3 { width: 220px; }
.span4 { width: 300px; }
.span5 { width: 380px; }
.span6 { width: 460px; }
.span7 { width: 540px; }
.span8 { width: 620px; }
.span9 { width: 700px; }
.span10 { width: 780px; }
.span11 { width: 860px; }
.span12 { width: 940px; }


.offset1 { margin-left: 60px; }
.offset2 { margin-left: 140px; }
.offset3 { margin-left: 220px; }
.offset4 { margin-left: 300px; }
.offset5 { margin-left: 380px; }
.offset6 { margin-left: 460px; }
.offset7 { margin-left: 540px; }
.offset8 { margin-left: 620px; }
.offset9 { margin-left: 700px; }
.offset10 { margin-left: 780px; }
.offset11 { margin-left: 860px; }
.offset12 { margin-left: 940px; }

