@import "fonts"
@import "libs"
@import "vars"

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.75
	font-family: $default-font
	overflow-x: hidden
	opacity: 1
	&.ishome
		.site-header
			min-height: 700px
			height: 100vh
			background-color: $preload;
			.top-line
				padding-top: 3px
				width: 100%
				position: absolute
				z-index: 1 
				height: 70px
				background-color: rgba(50, 50, 50, .5)
				color: #fff

.logo
	img
		transform: scale(.6)



.mm-navbar
	border-bottom-width: 0px
	.mm-navbar__title
		color: #fff

.mm-listitem_selected
	color: $accent
.mm-listitem::after
	right: 20px

.mm-menu_theme-dark
	--mm-color-background: #707070

.hamburger.hamburger--emphatic.mm-listitem__text.is-active
	display: none
.hamburger.hamburger--emphatic.is-active
	display: none

.mm-listview
	> li
		> a
			transition: color .25s ease
			padding:
				left: 14%
				right: 14%
				top: 16px
			&:hover
				color: $accent
			&::before
				content: '\f121'
				font-family: fontawesome
				margin-right: 8px
		&.active
			&>a
				color: $accent

section, header
	position: relative
	background-size: cover
	background-position: center

section
	background-color: #fff;

.img-responsive
	display: block
	max-width: 100%
	height: auto

.text-center
	text-align: center

::selection
	background-color: $accent
	color: #fff

.hamburger
	position: absolute
	right: 0
	top: 7px

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after
	background-color: #fff
	height: 3px

.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::before, .hamburger.is-active .hamburger-inner::after
	background-color: #fff



@import "media" // Всегда в конце
